@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body{
    background-color: #CCFFEB;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #03658C;
}

h1#principal{
    text-align: center;
    background-color: #04BEC4;
    color: #034C8C;
}

h2{
   color: #03658C; 
}

.basico{
    color: #F27D16;
    font-weight: bold;
}

.intermediario{
    color: #FF6914;
}

.avancado{
    color: #D9320D;
}