@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body{
    background-image: linear-gradient(to right, #1487C9, #54A4D2);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #07324A;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #0F6596;
    text-align: center;
    text-shadow: 1px 1px 2px #0b3b579c;
}

h2{
    color: #07324A;
}

p{
    text-align: justify;
}